{
    "openapi": "3.0.0",
    "info": {
        "title": "99Stack API documentation",
        "description": "**API endpoint**: https://api.99stack.com\n\n**Bearer token**: https://dash.99stack.com\n\n## Using the API\n\n### Information\n\n99Stack API is designed to be fast, secure and reliable. Requests and responses are in the JSON format (application/json) and requests follows the following format: *version/group/function*, alternatively *version/group/function/args* for functions that takes one single argument, usually a region ID. Standard HTTP error codes are used together with status messages to indicate status.\n\n### Response codes\n\nA list over available response codes and their purpose.\n\n| HTTP Response Code  | Description  |\n|---|---|\n| 200  | Function successfully executed.  |\n| 201  | Resource created successfully  |\n| 204  | Resource removed successfully (no response body)  |\n| 301  | Function is deprecated, (see documentation)  |\n| 400  | Invalid input data, (see documentation)  |\n| 403  | Access denied, check authentication token  |\n| 404  | Function not found  |\n| 405  | Invalid HTTP method  |\n| 429  | Too many requests, please wait  |\n| 500  | Internal server error  |\n| 501  | Function not implemented,   |\n| 502  | Bad gateway, failed to contact external API  |\n| 503  | Service unavailable, maintenance in progress  |\n\n### Rate limits\n\nRate limits are not in use. However, if possible try to not send more than one request per second. Too many requests in a short time for any reason can trigger the web servers standard protection, effectively blocking all requests from your IP for a few minutes.\n\n### Time and Date\n\nAll time and date fields returned by this API are displayed in UTC in the ISO-8601 format.\n\n### Examples\n\nGET request with no arguments:\n\n```bash\ncurl -X GET \"https://api.99stack.com/v1/region/list\"\n```\n\nGET request that requires your API token:\n\n```bash\ncurl -X GET -H 'Authorization: Bearer YOUR_TOKEN' \"https://api.99stack.com/v1/server/list\"\n```\n\nPOST request containing a JSON request body:\n\n```bash\ncurl -X POST -H 'Authorization: Bearer YOUR_TOKEN' -H 'Content-Type: application/json' -d '{\"name\": \"New API token\"}' \"https://api.99stack.com/v1/account/token_create\"\n```\n\nDELETE request containing a JSON request body:\n\n```bash\ncurl -X DELETE -H 'Authorization: Bearer YOUR_TOKEN' -H 'Content-Type: application/json' -d '{\"server_id\": 16324}' \"https://api.99stack.com/v1/server/remove\"\n```\n\n# Authentication\n\nFor any API request that requires authentication, the Authorization header needs to be set to a valid Bearer token, these tokens can be generated in the [control panel](https://dash.99stack.com/auth/manage-api-tokens), or by sending a valid request to `/v1/account/login`. Once you have the token, use the following format:\n\n```bash\nAuthorization: Bearer YOUR_TOKEN\n```\n\nSee examples above for usage with cURL.",
        "contact": [],
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.99stack.com/v1",
            "variables": []
        }
    ],
    "paths": {
        "/region/list": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Regions list",
                "description": "Returns a list over all available regions including available features. Availibility of plans and images can be obtained by calling one of the following functions:\n\n```\n/v1/plan/list/REGIONID\n```\n\n```\n/v1/image/list/REGIONID\n```\n\nWhere *REGIONID* is the ID (int) that corresponds to a specific region. Region ID's has the following format: 1xx, 2xx, 3xx etc.. where the first number represents server generation. First generation servers are available in regions with an ID between 101 and 199. To view available features in a specific region, use:\n\n```\n/v1/region/list_features/REGIONID\n```",
                "operationId": "RegionsList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowRegionsResponse200"
                                },
                                "example": {
                                    "regions": {
                                        "101": {
                                            "slug": "6",
                                            "uuid": "30663334-3664-4238-a635-653566643536",
                                            "city": "Atlanta",
                                            "state": "Georgia",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 33.7489954,
                                            "longitude": -84.3879824,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "102": {
                                            "slug": "2",
                                            "uuid": "61643561-6637-4763-b763-333131366561",
                                            "city": "Chicago",
                                            "state": "Illinois",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 41.8781136,
                                            "longitude": -87.6297982,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "103": {
                                            "slug": "3",
                                            "uuid": "64323662-3135-4332-a165-633633386465",
                                            "city": "Dallas",
                                            "state": "Texas",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 32.7766642,
                                            "longitude": -96.79698789999999,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "104": {
                                            "slug": "5",
                                            "uuid": "34656465-6530-4364-a633-613264663832",
                                            "city": "Los Angeles",
                                            "state": "California",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 34.0522342,
                                            "longitude": -118.2436849,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "105": {
                                            "slug": "39",
                                            "uuid": "32336365-3535-4765-b666-666564653335",
                                            "city": "Miami",
                                            "state": "Florida",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 25.7616798,
                                            "longitude": -80.1917902,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "106": {
                                            "slug": "1",
                                            "uuid": "31383264-6162-4831-b339-663239363738",
                                            "city": "New Jersey",
                                            "state": "New Jersey",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 40.0583238,
                                            "longitude": -74.4056612,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "107": {
                                            "slug": "4",
                                            "uuid": "35353765-3630-4832-b236-646666316363",
                                            "city": "Seattle",
                                            "state": "Washington",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 47.6062095,
                                            "longitude": -122.3320708,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "108": {
                                            "slug": "12",
                                            "uuid": "36346362-6561-4764-a137-316135656234",
                                            "city": "Silicon Valley",
                                            "state": "California",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 37.387474,
                                            "longitude": -122.0575434,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "109": {
                                            "slug": "40",
                                            "uuid": "64383835-6130-4564-b365-376131363165",
                                            "city": "Singapore",
                                            "state": "Singapore",
                                            "country": "Singapore",
                                            "continent": "Asia",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 1.352083,
                                            "longitude": 103.819836,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "110": {
                                            "slug": "7",
                                            "uuid": "30373538-3131-4366-b065-336436653631",
                                            "city": "Amsterdam",
                                            "state": "North Holland",
                                            "country": "Netherlands",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 52.3679843,
                                            "longitude": 4.9035614,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "111": {
                                            "slug": "25",
                                            "uuid": "64643538-6265-4639-b661-383939396431",
                                            "city": "Tokyo",
                                            "state": "Tokyo",
                                            "country": "Japan",
                                            "continent": "Asia",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 35.6894875,
                                            "longitude": 139.6917064,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "112": {
                                            "slug": "8",
                                            "uuid": "31666236-6130-4136-b535-343265396264",
                                            "city": "London",
                                            "state": "United Kingdom",
                                            "country": "United Kingdom",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 51.5073509,
                                            "longitude": -0.1277583,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "113": {
                                            "slug": "24",
                                            "uuid": "64376137-6631-4562-b538-636564356439",
                                            "city": "Paris",
                                            "state": "\u00cele-de-France",
                                            "country": "France",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 48.856614,
                                            "longitude": 2.3522219,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "114": {
                                            "slug": "9",
                                            "uuid": "62333538-3064-4966-a535-383762613734",
                                            "city": "Frankfurt",
                                            "state": "Hesse",
                                            "country": "Germany",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": true,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 50.1109221,
                                            "longitude": 8.6821267,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "115": {
                                            "slug": "22",
                                            "uuid": "63633336-6563-4431-b330-303234353639",
                                            "city": "Toronto",
                                            "state": "Ontario",
                                            "country": "Canada",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 43.653226,
                                            "longitude": -79.3831843,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "116": {
                                            "slug": "19",
                                            "uuid": "32633936-6337-4438-b134-643839643632",
                                            "city": "Sydney",
                                            "state": "New South Wales",
                                            "country": "Australia",
                                            "continent": "Oceania",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": false,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": -33.8688197,
                                            "longitude": 151.2092955,
                                            "operator_id": "cbdfdc8f"
                                        },
                                        "201": {
                                            "slug": "nyc1",
                                            "uuid": "30346537-6463-4165-b965-396130303931",
                                            "city": "New York",
                                            "state": "New York",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 40.7127753,
                                            "longitude": -74.0059728,
                                            "operator_id": "8db02fc9"
                                        },
                                        "202": {
                                            "slug": "ams2",
                                            "uuid": "35643036-3232-4239-a166-633736383662",
                                            "city": "Amsterdam",
                                            "state": "North Holland",
                                            "country": "Netherlands",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 52.3679843,
                                            "longitude": 4.9035614,
                                            "operator_id": "8db02fc9"
                                        },
                                        "203": {
                                            "slug": "sgp1",
                                            "uuid": "32353137-6630-4739-b466-336138353762",
                                            "city": "Singapore",
                                            "state": "Singapore",
                                            "country": "Singapore",
                                            "continent": "Asia",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 1.352083,
                                            "longitude": 103.819836,
                                            "operator_id": "8db02fc9"
                                        },
                                        "204": {
                                            "slug": "lon1",
                                            "uuid": "39393662-3936-4632-b336-356239616131",
                                            "city": "London",
                                            "state": "United Kingdom",
                                            "country": "United Kingdom",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 51.5073509,
                                            "longitude": -0.1277583,
                                            "operator_id": "8db02fc9"
                                        },
                                        "205": {
                                            "slug": "nyc3",
                                            "uuid": "36373636-3463-4761-a231-343930653834",
                                            "city": "New York",
                                            "state": "New York",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 40.7127753,
                                            "longitude": -74.0059728,
                                            "operator_id": "8db02fc9"
                                        },
                                        "206": {
                                            "slug": "ams3",
                                            "uuid": "34333130-6335-4332-b932-643239306131",
                                            "city": "Amsterdam",
                                            "state": "North Holland",
                                            "country": "Netherlands",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 52.3679843,
                                            "longitude": 4.9035614,
                                            "operator_id": "8db02fc9"
                                        },
                                        "207": {
                                            "slug": "fra1",
                                            "uuid": "37333636-6335-4538-b839-666365356131",
                                            "city": "Frankfurt",
                                            "state": "Hesse",
                                            "country": "Germany",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 50.1109221,
                                            "longitude": 8.6821267,
                                            "operator_id": "8db02fc9"
                                        },
                                        "208": {
                                            "slug": "tor1",
                                            "uuid": "32306437-3735-4662-a335-353365336131",
                                            "city": "Toronto",
                                            "state": "Ontario",
                                            "country": "Canada",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 43.653226,
                                            "longitude": -79.3831843,
                                            "operator_id": "8db02fc9"
                                        },
                                        "209": {
                                            "slug": "sfo2",
                                            "uuid": "39333836-3537-4465-b238-393030663037",
                                            "city": "San Francisco",
                                            "state": "California",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 37.7749295,
                                            "longitude": -122.4194155,
                                            "operator_id": "8db02fc9"
                                        },
                                        "210": {
                                            "slug": "blr1",
                                            "uuid": "37363465-3934-4563-a535-306135356230",
                                            "city": "Bangalore",
                                            "state": "Karnataka",
                                            "country": "India",
                                            "continent": "Asia",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 12.9715987,
                                            "longitude": 77.5945627,
                                            "operator_id": "8db02fc9"
                                        },
                                        "301": {
                                            "slug": "ZRH",
                                            "uuid": "34346561-3963-4132-a632-333331353932",
                                            "city": "Zurich",
                                            "state": "Zurich",
                                            "country": "Switzerland",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 47.3768866,
                                            "longitude": 8.541694,
                                            "operator_id": "0928a080"
                                        },
                                        "302": {
                                            "slug": "DUB",
                                            "uuid": "30623130-3330-4161-a531-656664636264",
                                            "city": "Dublin",
                                            "state": "County Dublin",
                                            "country": "Ireland",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 53.3498053,
                                            "longitude": -6.2603097,
                                            "operator_id": "0928a080"
                                        },
                                        "303": {
                                            "slug": "FRA",
                                            "uuid": "32663131-3662-4133-a363-383863653536",
                                            "city": "Frankfurt",
                                            "state": "Hesse",
                                            "country": "Germany",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 50.1109221,
                                            "longitude": 8.6821267,
                                            "operator_id": "0928a080"
                                        },
                                        "304": {
                                            "slug": "HNL",
                                            "uuid": "35653937-3837-4332-a333-613966663861",
                                            "city": "Honolulu",
                                            "state": "Hawaii",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 21.3069444,
                                            "longitude": -157.8583333,
                                            "operator_id": "0928a080"
                                        },
                                        "305": {
                                            "slug": "MEL",
                                            "uuid": "35303937-6435-4666-b463-303361366238",
                                            "city": "Melbourne",
                                            "state": "Victoria",
                                            "country": "Australia",
                                            "continent": "Oceania",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": -37.8136276,
                                            "longitude": 144.9630576,
                                            "operator_id": "0928a080"
                                        },
                                        "306": {
                                            "slug": "MIA",
                                            "uuid": "64353634-6638-4935-b364-653061343733",
                                            "city": "Miami",
                                            "state": "Florida",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 25.7616798,
                                            "longitude": -80.1917902,
                                            "operator_id": "0928a080"
                                        },
                                        "307": {
                                            "slug": "MNL",
                                            "uuid": "66396538-6136-4439-b831-373461663462",
                                            "city": "Manila",
                                            "state": "Metro Manila",
                                            "country": "Philippines",
                                            "continent": "Asia",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 14.5995124,
                                            "longitude": 120.9842195,
                                            "operator_id": "0928a080"
                                        },
                                        "308": {
                                            "slug": "PER",
                                            "uuid": "34646439-3738-4336-b434-336538323033",
                                            "city": "Perth",
                                            "state": "Western Australia",
                                            "country": "Australia",
                                            "continent": "Oceania",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": -31.9505269,
                                            "longitude": 115.8604572,
                                            "operator_id": "0928a080"
                                        },
                                        "309": {
                                            "slug": "SJC",
                                            "uuid": "38366662-3765-4133-b061-386266356266",
                                            "city": "San Jose",
                                            "state": "California",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 37.3382082,
                                            "longitude": -121.8863286,
                                            "operator_id": "0928a080"
                                        },
                                        "310": {
                                            "slug": "WAW",
                                            "uuid": "61633965-6339-4039-b737-633835636534",
                                            "city": "Warsaw",
                                            "state": "Masovian Voivodeship",
                                            "country": "Poland",
                                            "continent": "Europe",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 52.2296756,
                                            "longitude": 21.0122287,
                                            "operator_id": "0928a080"
                                        },
                                        "311": {
                                            "slug": "WDC",
                                            "uuid": "32656562-3661-4437-b464-313862396532",
                                            "city": "Washington DC",
                                            "state": "District of Columbia",
                                            "country": "United States",
                                            "continent": "North america",
                                            "features": {
                                                "ddos_protection": false,
                                                "block_storage": true,
                                                "private_networking": true,
                                                "ipv6": true,
                                                "backups": true
                                            },
                                            "latitude": 38.9071923,
                                            "longitude": -77.0368707,
                                            "operator_id": "0928a080"
                                        }
                                    },
                                    "meta": {
                                        "total": 37
                                    }
                                }
                            }
                        }
                    }
                },
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                },
                "security": [],
                "requestBody": null
            }
        },
        "/image/list/201": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Images list",
                "description": "Returns a list over available system images. Image lists are uniqe for each region, a region ID is therefore required as last part of the call. See:\n\n```\n/v1/region/list\n```\n\nFor a list of all available regions. Image ID's is a 4 number code where the first number indicates which server generation a specific image can be deployed too, i.e ID's between 1101 and 1999 can only be used on first generation servers. The second number (x1xx, x2xx, ...) indicates the image type.\n\n| Number  | Description  |\n|---|---|\n| 1  | Raw OS image, a blank operating system image without nonsense  |\n| 2  | Application image, a preinstalled application  |\n| 3  | Snapshot, available snapshots in your account  |\n| 4  | Backup, available backups in your account  |\n| 5  | Custom, a custom image  |",
                "operationId": "ImagesList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowImagesResponse200"
                                },
                                "example": {
                                    "images": {
                                        "1101": {
                                            "uuid": "30323430-3337-4239-b437-326431383833",
                                            "id": 127,
                                            "name": "CentOS 6 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1102": {
                                            "uuid": "36323062-6264-4131-a461-323037393435",
                                            "id": 147,
                                            "name": "CentOS 6 i386",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1103": {
                                            "uuid": "65376639-3730-4639-b030-666432366264",
                                            "id": 167,
                                            "name": "CentOS 7 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1104": {
                                            "uuid": "33303937-3230-4664-b266-396662373564",
                                            "id": 160,
                                            "name": "Ubuntu 14.04 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "ubuntu",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1105": {
                                            "uuid": "33363135-3438-4137-b061-643935643466",
                                            "id": 161,
                                            "name": "Ubuntu 14.04 i386",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "ubuntu",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1106": {
                                            "uuid": "34306231-3336-4964-a531-346461303137",
                                            "id": 215,
                                            "name": "Ubuntu 16.04 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "ubuntu",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1107": {
                                            "uuid": "65386262-6264-4137-a636-383031313634",
                                            "id": 216,
                                            "name": "Ubuntu 16.04 i386",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "ubuntu",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1108": {
                                            "uuid": "38333265-3534-4564-b862-646337653166",
                                            "id": 270,
                                            "name": "Ubuntu 18.04 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "ubuntu",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1109": {
                                            "uuid": "65376161-3430-4061-a132-383230623636",
                                            "id": 302,
                                            "name": "Ubuntu 18.10 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "ubuntu",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1110": {
                                            "uuid": "38373035-6232-4031-a631-326135333165",
                                            "id": 193,
                                            "name": "Debian 8 x64 (jessie)",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "debian",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1111": {
                                            "uuid": "37323939-3131-4430-b864-663164353833",
                                            "id": 194,
                                            "name": "Debian 8 i386 (jessie)",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "debian",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1112": {
                                            "uuid": "61653961-3165-4363-b062-663532303036",
                                            "id": 244,
                                            "name": "Debian 9 x64 (stretch)",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "debian",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1113": {
                                            "uuid": "65313037-3234-4135-b061-633830373931",
                                            "id": 230,
                                            "name": "FreeBSD 11 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "freebsd",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1114": {
                                            "uuid": "66373934-6264-4863-b361-616131353066",
                                            "id": 327,
                                            "name": "FreeBSD 12 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "freebsd",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1115": {
                                            "uuid": "62303530-3662-4866-b533-623436373464",
                                            "id": 234,
                                            "name": "OpenBSD 6.3 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "openbsd",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1116": {
                                            "uuid": "34313032-3964-4961-b963-323261353834",
                                            "id": 324,
                                            "name": "OpenBSD 6.4 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "openbsd",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1117": {
                                            "uuid": "37663161-3065-4439-b334-373739396338",
                                            "id": 179,
                                            "name": "CoreOS Stable",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "coreos",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1118": {
                                            "uuid": "66626536-6637-4234-b731-313139396163",
                                            "id": 271,
                                            "name": "Fedora 28 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "fedora",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1119": {
                                            "uuid": "66323338-6639-4362-a562-386434396639",
                                            "id": 322,
                                            "name": "Fedora 29 x64",
                                            "type": "os",
                                            "os_type": "linux",
                                            "os_distro": "fedora",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0
                                        },
                                        "1120": {
                                            "uuid": "33373631-3866-4334-b164-303065613638",
                                            "id": 124,
                                            "name": "Windows 2012 R2 x64",
                                            "type": "os",
                                            "os_type": "windows",
                                            "os_distro": "windows",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0.02465753
                                        },
                                        "1121": {
                                            "uuid": "65653765-3130-4233-b865-303030346134",
                                            "id": 240,
                                            "name": "Windows 2016 x64",
                                            "type": "os",
                                            "os_type": "windows",
                                            "os_distro": "windows",
                                            "min_disk_gb": 25,
                                            "hourly_cost": 0.02465753
                                        },
                                        "1201": {
                                            "uuid": "37363337-3565-4736-a438-366436343164",
                                            "id": "1",
                                            "name": "LEMP on CentOS 6 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1202": {
                                            "uuid": "61376566-3036-4937-b036-373834326266",
                                            "id": "39",
                                            "name": "LEMP on CentOS 7 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1203": {
                                            "uuid": "39363865-6434-4232-a137-373332363333",
                                            "id": "40",
                                            "name": "LEMP on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1204": {
                                            "uuid": "61666331-3764-4839-b161-393766373135",
                                            "id": "2",
                                            "name": "WordPress on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1205": {
                                            "uuid": "34383735-3535-4366-a337-313764316537",
                                            "id": "3",
                                            "name": "Minecraft on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1206": {
                                            "uuid": "64383666-3034-4237-b366-356366633131",
                                            "id": "4",
                                            "name": "Webmin on CentOS 6 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1207": {
                                            "uuid": "64393962-6136-4937-b365-613130393436",
                                            "id": "43",
                                            "name": "Webmin on CentOS 7 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1208": {
                                            "uuid": "35616335-6464-4130-a664-633134646561",
                                            "id": "44",
                                            "name": "Webmin on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1209": {
                                            "uuid": "63636638-6331-4736-b432-613333353537",
                                            "id": "5",
                                            "name": "ownCloud on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1210": {
                                            "uuid": "33363664-6632-4434-b536-303430666133",
                                            "id": "6",
                                            "name": "OpenVPN on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1211": {
                                            "uuid": "37316634-3932-4030-b738-623037643734",
                                            "id": "38",
                                            "name": "cPanel on CentOS 7 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1212": {
                                            "uuid": "31313966-6264-4566-a638-353730333233",
                                            "id": "15",
                                            "name": "Drupal on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1213": {
                                            "uuid": "30393636-3134-4934-b563-653335303162",
                                            "id": "17",
                                            "name": "Docker on CentOS 7 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1214": {
                                            "uuid": "32386632-6564-4538-a137-343161633332",
                                            "id": "37",
                                            "name": "Docker on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1215": {
                                            "uuid": "38656434-6139-4663-b638-313934663732",
                                            "id": "19",
                                            "name": "LAMP on CentOS 6 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1216": {
                                            "uuid": "34633939-3662-4866-b635-373365656461",
                                            "id": "41",
                                            "name": "LAMP on CentOS 7 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1217": {
                                            "uuid": "32393733-3737-4430-b537-656236356364",
                                            "id": "42",
                                            "name": "LAMP on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1218": {
                                            "uuid": "33316461-6231-4665-a236-373064643634",
                                            "id": "21",
                                            "name": "Joomla on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1219": {
                                            "uuid": "66343363-3261-4966-b662-626165303532",
                                            "id": "23",
                                            "name": "Mediawiki on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1220": {
                                            "uuid": "38666232-3766-4564-b535-393131626261",
                                            "id": "25",
                                            "name": "PrestaShop on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1221": {
                                            "uuid": "32313863-6564-4566-b639-386562636531",
                                            "id": "27",
                                            "name": "Nextcloud on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1222": {
                                            "uuid": "34393839-6532-4261-a661-363663643163",
                                            "id": "29",
                                            "name": "GitLab on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1223": {
                                            "uuid": "35646230-3434-4334-b735-653833653939",
                                            "id": "31",
                                            "name": "Plesk Onyx (Web Admin SE) on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1224": {
                                            "uuid": "34313934-6434-4539-a237-653336306562",
                                            "id": "35",
                                            "name": "Plesk Onyx (Web Pro) on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1225": {
                                            "uuid": "61313136-3063-4362-b136-383439373137",
                                            "id": "36",
                                            "name": "Plesk Onyx (Web Host) on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        },
                                        "1226": {
                                            "uuid": "62633363-3636-4466-a266-393263383634",
                                            "id": "33",
                                            "name": "Magento on Ubuntu 16.04 x64",
                                            "type": "app",
                                            "os_type": "linux",
                                            "os_distro": "centos",
                                            "min_disk": 25,
                                            "hourly_cost": 0
                                        }
                                    },
                                    "meta": {
                                        "total": 47
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowImagesResponse400"
                                },
                                "example": {
                                    "message": "Please use: /v1/images/REGIONID",
                                    "response_type": "warning",
                                    "response_code": 400
                                }
                            }
                        }
                    }
                },
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                },
                "security": [],
                "requestBody": null
            }
        },
        "/plan/list/201": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Plans list",
                "description": "Returns a list over available plans. Plan lists are uniqe for each region, a region ID is therefore required as last part of the call. See:\n\n```\n/v1/region/list\n```\n\nFor a list of all available regions. Plan ID's is a 4 number code where the first number indicates which server generation a specific plan has, i.e ID's between 1101 and 1999 are first generation server plans. The second number (x1xx, x2xx, ...) indicates the plan type.\n\n| Number  | Description  |\n|---|---|\n| 1  | Virtual Private Server, powered by KVM with 2/3 physical resources and 1/3 burst  |\n| 2  | Dedicated servers, powered by KVM with 1:1 mapping to physical resources. No burst  |\n| 3  | Bare metal servers, powered by KVM with 1:1 mapping to physical resources. \\*unlimited burst |\n\n*Unlimited burst is what the physical hardware can handle, i.e a 3.4Ghz CPU that can burst to 4.2GHz, these can be loaded to 100% all the time without additional fees.*\n\n**Plan types**\n\nPlans are listed in groups based on their properties\n\n* **Custom**: *Contains a fixed specification over custom plans, i.e max RAM, price per GB disk etc.*\n* **Ready**: *Contains a list over predefined plan sizes.*",
                "operationId": "PlansList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowPlansResponse200"
                                },
                                "examples": {
                                    "ready": {
                                        "value": {
                                            "custom": [],
                                            "ready": {
                                                "1101": {
                                                    "id": "201",
                                                    "name": "Squirrel",
                                                    "uuid": "3230313a-3433-4937-b465-643734303636",
                                                    "windows": false,
                                                    "cpu": 1,
                                                    "ram": 1024,
                                                    "disk": 25,
                                                    "bandwidth": 1,
                                                    "price_per_hour": 0.0136986301369863,
                                                    "price_per_month": 10
                                                },
                                                "1102": {
                                                    "id": "202",
                                                    "name": "Hedgehog",
                                                    "uuid": "3230323a-6331-4765-a461-616538366534",
                                                    "windows": false,
                                                    "cpu": 1,
                                                    "ram": 2048,
                                                    "disk": 40,
                                                    "bandwidth": 2,
                                                    "price_per_hour": 0.0273972602739726,
                                                    "price_per_month": 20
                                                },
                                                "1103": {
                                                    "id": "203",
                                                    "name": "Rabbit",
                                                    "uuid": "3230333a-3436-4231-a331-643535666134",
                                                    "windows": false,
                                                    "cpu": 2,
                                                    "ram": 4096,
                                                    "disk": 60,
                                                    "bandwidth": 3,
                                                    "price_per_hour": 0.0547945205479452,
                                                    "price_per_month": 40
                                                },
                                                "1104": {
                                                    "id": "204",
                                                    "name": "Beaver",
                                                    "uuid": "3230343a-6663-4536-a462-633664343635",
                                                    "windows": false,
                                                    "cpu": 4,
                                                    "ram": 8192,
                                                    "disk": 100,
                                                    "bandwidth": 4,
                                                    "price_per_hour": 0.1095890410958904,
                                                    "price_per_month": 80
                                                },
                                                "1105": {
                                                    "id": "205",
                                                    "name": "Boar",
                                                    "uuid": "3230353a-6638-4830-b961-666634643639",
                                                    "windows": false,
                                                    "cpu": 6,
                                                    "ram": 16384,
                                                    "disk": 200,
                                                    "bandwidth": 5,
                                                    "price_per_hour": 0.2191780821917808,
                                                    "price_per_month": 160
                                                },
                                                "1106": {
                                                    "id": "206",
                                                    "name": "Wolf",
                                                    "uuid": "3230363a-3563-4634-a532-366264336438",
                                                    "windows": false,
                                                    "cpu": 8,
                                                    "ram": 32768,
                                                    "disk": 300,
                                                    "bandwidth": 6,
                                                    "price_per_hour": 0.4383561643835616,
                                                    "price_per_month": 320
                                                },
                                                "1107": {
                                                    "id": "207",
                                                    "name": "Bear",
                                                    "uuid": "3230373a-3936-4830-b736-626532653338",
                                                    "windows": false,
                                                    "cpu": 16,
                                                    "ram": 65536,
                                                    "disk": 400,
                                                    "bandwidth": 10,
                                                    "price_per_hour": 0.8767123287671232,
                                                    "price_per_month": 640
                                                },
                                                "1108": {
                                                    "id": "208",
                                                    "name": "Moose",
                                                    "uuid": "3230383a-3864-4636-b666-363462353734",
                                                    "windows": false,
                                                    "cpu": 24,
                                                    "ram": 98304,
                                                    "disk": 800,
                                                    "bandwidth": 15,
                                                    "price_per_hour": 1.7534246575342465,
                                                    "price_per_month": 1280
                                                }
                                            },
                                            "meta": {
                                                "total": 8
                                            }
                                        }
                                    },
                                    "custom": {
                                        "value": {
                                            "custom": {
                                                "windows": false,
                                                "cpu": {
                                                    "min": 1,
                                                    "max": 20
                                                },
                                                "ram": {
                                                    "min": 1,
                                                    "max": 64
                                                },
                                                "disk": {
                                                    "min": 50,
                                                    "max": 640
                                                },
                                                "bandwidth": 0,
                                                "price_per_hour": {
                                                    "cpu": 0.02,
                                                    "ram": 0.01,
                                                    "disk": 0.0004,
                                                    "bw": 0.0005,
                                                    "ip": 0.01
                                                },
                                                "price_per_month": {
                                                    "cpu": 14.6,
                                                    "ram": 7.3,
                                                    "disk": 0.29200000000000004,
                                                    "bw": 0.365,
                                                    "ip": 7.3
                                                }
                                            },
                                            "ready": []
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowPlansResponse400"
                                },
                                "example": {
                                    "message": "Please use: /v1/plans/REGIONID",
                                    "response_type": "warning",
                                    "response_code": 400
                                }
                            }
                        }
                    }
                },
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                },
                "security": [],
                "requestBody": null
            }
        },
        "/region/list_features/101": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Feature list",
                "description": "Returns a list over available features. Feature lists are uniqe for each region, a region ID is therefore required as last part of the call. See:\n\n```\n/v1/region/list\n```\n\nFor a list of all available regions. ",
                "operationId": "FeatureList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowFeaturesResponse200"
                                },
                                "example": {
                                    "ddos_protection": false,
                                    "block_storage": false,
                                    "private_networking": true,
                                    "ipv6": true,
                                    "backups": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowFeaturesResponse400"
                                },
                                "example": {
                                    "message": "Please use: /v1/region/features/REGIONID",
                                    "response_type": "warning",
                                    "response_code": 400
                                }
                            }
                        }
                    }
                },
                "x-operation-settings": {
                    "CollectParameters": false,
                    "AllowDynamicQueryParameters": false,
                    "AllowDynamicFormParameters": false,
                    "IsMultiContentStreaming": false
                },
                "security": [],
                "requestBody": null
            }
        },
        "/account/login": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Login",
                "description": "Checking credentials (email and password) and returns the first API key found on the associated account. Client applications can store this key locally in memory to be used for future API requests. \n\n**How do I log out?**\n\nDelete the locally saved key\n\n**Is there a rate limit?**\n\nYes, one login attempt each 30 second per account and IP address is allowed. Too many requests, (i.e bruteforce attempts) will result in denied access for up to 24 hours.\n\n**Security**\n\nTo prevent account information leaks the response will be the same in all three cases, i.e invalid email, invalid password or if both email and password is invalid.\n",
                "operationId": "Login",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            },
                            "example": {
                                "email": "john.doe@example.com",
                                "password": "secret"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse200"
                                },
                                "example": {
                                    "token": "36491ac8ca4fa099367351f2d4bfd0be6a2cb6d2efb78d91",
                                    "timestamp": "2019-01-13T11:11:35z"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse400"
                                },
                                "example": {
                                    "message": "Login failed, check credentials and try again"
                                }
                            }
                        }
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse400"
                                },
                                "example": {
                                    "message": "Login failed, account is blacklisted"
                                }
                            }
                        }
                    },
                    "429": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse400"
                                },
                                "example": {
                                    "message": "Login failed, please wait X seconds then try again"
                                }
                            }
                        }
[...]
